.questions-container{
    margin: 70px 20px 60px 80px;
    padding: 22px;
    font-size: 21px;
    text-align: justify;
    background-color: rgba(255, 228, 196, 0.87);
    border-radius: 25px;
}
.questions-container h2{
    color: red;
}