.questions-container{
    margin: 70px 20px 60px 80px;
    padding: 22px;
    font-size: 21px;
    text-align: justify;
    background-color: rgba(255, 228, 196, 0.87);
    border-radius: 25px;
}
.questions-container h2{
    color: red;
}

@media (max-width:688px) {
    .questions-container{
        margin: 0px;
        padding: 10px;
        font-size: 16px;
        width: 330px;
        margin-left: 15px;
        overflow-x: hidden;
        margin-top: 20px;
    }
    .questions-container h2{
        font-size: 23px;
    }
}