.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    /* background-color: orange; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-left: 90px;
}
.cart-container{
    background-color: rgba(211, 211, 211, 0.555);
    height: 900px;
    position: sticky;
    top: 0;
    padding: 20px;
    border-radius: 10px;
}
/* .shop-title{
    text-align: center;
    margin-bottom: 50px;
    background-color: darkblue;
    padding-top: 50px;
}
.shop-title h1{
    color: blue;
    font-size: 50px;
}
.shop-title p{
    font-size: 25px;
    color: red;
    font-weight: bold;
} */