.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    /* background-color: orange; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-left: 90px;
}
.cart-container{
    background-color: red;
}